<div class="row">
    <div class="col-md-6">
        <img src="https://presbot-assets-prod.s3.amazonaws.com/static/assets/img/bg-header-mobile.png">
    </div>
    <div class="col-md-6 aside">
        <h2 class="text-muted"> Who we are</h2>
        Empowering the world to<br><br><br> develop technology<br> <br><br> through collective <br><br><br> knowledge.
    </div>
</div>
<div class="card bg-light">
    <h3 class="text-muted"> Our core values</h3>
    <div class="row">
        <div class="col-md-4"><i class="fas fa-heart"></i><br><b>Adopt a customer-first mindset</b><br>
            Authentically serve our customers by empowering, listening and collaborating with our fellow Stackers.</div>
        <div class="col-md-4"><i class="fas fa-hands-helping"></i><br><b>Be flexible and inclusive</b><br>
            We do our best work when a diverse group of people collaborate in an environment of respect and trust.
            Create space for different voices to be heard, and allow flexibility in how people work.</div>
        <div class="col-md-4"><i class="fas fa-chart-line"></i><br><b>Learn, share, grow</b><br>
            Adopt a Growth Mindset. Be curious and eager to learn. Aim for ethical, sustainable, long-term growth, both
            personally and in the company.</div>
    </div>
    <div class="row">
        <div class="col-md-4"><i class="fas fa-globe"></i><br><b>Empower people to deliver outstanding results</b><br>
            Give people space to get their job done, support them when they need it, and practice blameless accountability.</div>
        <div class="col-md-4"><i class="far fa-compass"></i><br><b>Be transparent</b><br>
            Communicate openly and honestly, both inside and outside the company. Encourage transparency from others by being empathetic, reliable, and acting with integrity.</div>
        <div class="col-md-4"><i class="fas fa-users"></i><br><b>Keep community at our center</b><br>
            Community is at the heart of everything we do. Nurture healthy communities where everyone is encouraged to learn and give back.</div>
    </div>
</div>