.aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 150px;

}
.row{
    margin: 20px 0px 50px 0px;
}
img{
    height: 100%;
    width: 100%;
}
.card{
    margin-bottom: 50px;
    width: 90%;
    margin-right: 20px;
    margin-left: 60px;
    border: 1px white;
    box-shadow: 0 8px 14px 0 rgba(22, 22, 26, 0.18);
    padding: 10px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
   padding: 20px;
   text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}
i{
    font-size: 30px;
    color: #FE8908;
    text-align: center;
}