<div class="container my-2 full-width">
    <footer>
        <div class="row">
            <section class="col-md-4">
                <div class="underline">
                    Copyright © 2021. All rights reserved.
                </div>
            </section>
            <section class="col-md-4">
                <div class="text-muted">
                    Designed & developed by Bhumika.
                </div>
            </section>
            <section class="col-md-4 icons">
                <a style="text-decoration: none;">Follow us:</a>

                <a class="btn btn-outline btn-floating m-1" role="button" href="https://www.facebook.com/"><i
                        class="fab fa-facebook-f" style="color: #3B5999;"></i></a>


                <a class="btn  btn-floating m-1" role="button" href="https://www.twitter.com/"><i class="fab fa-twitter"
                        style="color: #29AAE2;"></i></a>


                <a class="btn btn-outline btn-floating m-1" role="button" href="https://www.google.com/"><i
                        class="fab fa-google" style="color: #DE4B39;"></i></a>


                <a class="btn btn-outline btn-floating m-1" role="button" href="https://www.instagram.com/"><i
                        class="fab fa-instagram" style="color: #CF2B83;"></i></a>
            </section>
        </div>
    </footer>
</div>
